
  @media (min-width: 961px) and (max-width: 1920px)
  {

h1 {
  font-size: 90px;
  text-transform: uppercase;
  color: #ffffff;
}
    
h2 {
  color:#e7e7e7;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase; 
  margin-left: 15px;
}
 
.header {
  position: relative;
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }
          
.header::after {
  content: "";
  background-color: #0c0d2f;   
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
        
  opacity: 0.9;
  }

.logo {
  width: 205px;
  height: 56px;
}
    
.text {
  margin-top: 300px;
  width: 1550px;
} 

.title-2 {
  padding-left: 460px;
}

 /*Кнопки*/ 
.buttons:nth-child(n) {
  margin-top: 1.3em;
  width: 20.8em;
  height: 5.4em;
  margin-right: 2em;
  margin-left: 1em;
  }

.buttons:last-child {
  margin-right: 0em;
}

.group-button {
  margin: 0 auto;
  padding-bottom: 90px; 
  padding-top: 222px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  }

.icon_social {
  width: 44px;
  height: 44px;
  fill:#ffffff;
  padding-right: 6px;
  }
      
.text_icon{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  width: 200px;
  }

.app_text {
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  line-height: 0.5em;
  }

.app {
  font-weight: bold;
  padding-top: 10px;
  }

/*Style fonts*/

.card-content {
  font-size: 24px;
  line-height: 1.5em;
  padding-top: 70px;
  width: 640px;
}

/* Athlets*/
.sportmen {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.sportmen-desktop {
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
}
 
.header_block{
  margin-top: 50px;
}  
    
.athlets-desktop {
  margin-top: 50px;
}

.pic_football {
  position: absolute;
  margin-top: 40px;
  padding-left: 190px;
}
    
.card_1-desktop {
  padding-left: 800px;
  padding-right: 190px;
}

.card_2-desktop {
  padding-left: 800px;
  padding-right: 190px;
}

.card_3-desktop {
  padding-left: 800px;
  padding-right: 190px;
}
    
.pic_bascket {
  margin-top: -120px;
  padding-right: 190px;
  position: absolute;
  right: 0;
}

.header-text-desktop{
 padding-left: 170px;
}    
.card_1-desktop-players {
  padding-left: 190px;
  padding-right: 190px;
}

.card_2-desktop-players {
  padding-left: 190px;
  padding-right: 190px;
}

.card_3-desktop-players {
  padding-left: 190px;
  padding-right: 190px;
}    
    
    
    
.number , .number-2, .number-2_1 {
  margin-right: 15px;
}

.card-content-sportmen {
  color: #000000;
  letter-spacing: 0.05em; 
  line-height: 1.8em;
  font-size: 20px;
  width: 746px;
}

.card-content-sportmen_1 {
  color: #ffffff;
  letter-spacing: 0.05em; 
  font-size: 20px;
}

.card-name {
font-size: 36px;
letter-spacing: 0.1em;
}
    
    
/*be active*/
.be-active {
  display: flex;
  justify-content: space-between;
}

.be-active-1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.be-active-image {
  width: 50%;
}

.be-active-image img {
  width: 100%;
}

.be-active-text {
  margin-top: 200px;
  width: 50%;
  box-sizing: border-box;
  padding: 20px 30px 20px 150px;
  position: relative;
}

.be-active-number {
  position: absolute;
  top: 50px;
  left: 0;
  transform: translateX(-50%);
  display: flex;
  width: 168px;
  height: 155px;
  background-color: #5e42b0;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
}

.border-number {
  border-bottom: 4px #8f7bc8 solid;
}    

    
    
.be-active-number-02 {
  position: absolute;
  top: 50px;
  right: 0;
  transform: translateX(50%);
  display: flex;
  width: 168px;
  height: 155px;
  background-color: #5e42b0;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
}

.be-active-number span {
  margin: auto;
}

.be-active-number-02 span {
  margin: auto;
}    
   
    
    
/* footer*/ 
.footer {
  position: relative;
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  }
  
.footer::after {
  content: "";
  background-color: #0c0d2f;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0.9;
}

.group-button-desktop {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 230px;
  }    

 .group-button-footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 150px;
  margin-bottom: 260px;
  }
    
    
.big_icon {
  fill: #ffffff;
  width: 106px;
  height: 88px;
}

.big_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  background: linear-gradient(90deg, #50329c, #5e3db3, #7751db);
  width: 130px;
  height: 136px;
  border-radius: 30px;
}

.title-footer-1 {
  color: #ffffff;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.title-footer-2 {
  color: #9b8ec1;
  font-size: 36px;
  text-transform: uppercase;
  padding-left: 15px;
}

.logo-footer {
  margin: 0 auto;
  margin-bottom: 20px;
}

.text-footer {
  padding-top: 82px;
  flex-wrap: wrap;
  text-align: left;
}
}

