
  @media (max-width: 640px){
    h1 {
      font-size: 28px;
      text-transform: uppercase;
      color: #ffffff;
    }
        
    h2 {
      color:#e7e7e7;
      font-size: 50px;
      font-weight: bold;
      text-transform: uppercase;  
    }
    
.header {
  position: relative;
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  }
          
.header::after {
  content: "";
  background-color: #0c0d2f;
       
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
        
  opacity: 0.9;
  }

.logo {
  width: 133px;
  height: 36px;
}

.text {
  margin-top: 100px;
  width: 264px;
} 
.title-2 {
  padding-left: 44px;
}

.buttons {
  margin-top: 1em;
  width: 280px;
  height: 35px;
  }

.group-button {
  margin: 0 auto;
  padding-top: 90px; 
  padding-bottom: 84px; 

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.icon_social {
  width: 24px;
  height: 24px;
  fill:#ffffff;
  padding-right: 6px;
  margin-top: -7px; /*?*/
  }
      
.text_icon{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 0.8em;
  width: 120px;
  }

.app_text {
  font-size: 8px;
  text-transform: uppercase;
  text-align: left;
  line-height: 0.5em;
  }

.app {
  font-weight: bold;
  padding-top: 6px;
  }

.pic_active , .find_contact , .work_it{
  height: 351px;
  }
        
    .be-active-number {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      background-color: #5e42b0;
      
      position: relative;
      margin-top: -60px;
      margin-left: 15px;
      color: #ffffff;
      font-weight: bold;
      border-bottom: 4px #8f7bc8 solid;
    }
    .be-active-number-02 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      background-color: #5e42b0;
      
      position: relative;
      margin-top: -60px;
      margin-left: 15px;
      color: #ffffff;
      font-weight: bold;
      border-bottom: 4px #8f7bc8 solid;
    }

    

    /*Style fonts*/
    .card-name {
      font-size: 23px;
      font-weight: bold;
      margin: 22px 0px;
      letter-spacing: 0.1em;
    } 

    .card-name-2 {
      font-size: 1.9em;
      font-weight: bold;
      color: #e7e7e7;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    .card-name-2 {
      font-size: 1.9em;
      font-weight: bold;
      color: #e7e7e7;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    .card-content-sportmen {
      color: #000000;
      letter-spacing: 0.05em; 
      line-height: 1.8em;
      font-size: 16px;
    }

    /* Athlets*/
  .sportmen {
      display: flex;
      flex-direction: column;
    }

    .pic_football {
      margin: 0 auto;
      margin-top: 83px;
      z-index:1;
    }
    .pic_bascket  {
      display: flex;
      justify-content: center;
      z-index:1;
    }

    .header-text-athlets {
      position: absolute;
     
      margin-left: 15px;
    }
    .number , .number-2, .number-2_1 {
    margin-right: 15px;
  }
    .card-1 {
      margin-top:-50px;
      padding-top: 50px;
    }
  }

/* footer*/ 
.footer {
  position: relative;
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  }
  
.footer::after {
  content: "";
  background-color: #0c0d2f;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0.9;
}

.big_icon {
  fill: #ffffff;
  width: 60px;
  height: 50px;
}

.big_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: linear-gradient(90deg, #50329c, #5e3db3, #7751db);
  width: 74px;
  height: 74px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 6.7em
}

.text-footer {
  padding-top: 82px;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

.title-footer-1 {
  color: #ffffff;
  font-size: 2.1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.title-footer-2 {
  color: #9b8ec1;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.09em;
}

.logo-footer {
  margin-bottom: 0.7em;
}
}
